<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easy Agro</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/EasyAgro/home.css">
</head>
<body>
	<div class="part1" style="width: 100%;">
		<h8 class="contact">যে কোন তথ্যের জন্য যোগাযোগ করুন   +৮৮০১৯০৬১৪৫৯২২</h8>
	</div>

	<div class="part2" style="width: 100%;">
		<div style="" class="header item">Easy Agro</div>

		<div style="display: flex; align-items: center; justify-content: center;" class="ui right secondary menu">
			<a style="color: white;" class="item" href="">SignUp/Login</a>
			<a style="color: white;" class="item" href="">Contact</a>
			<a style="color: white;" class="item" href="">Shokhina</a>
		</div>
	</div>

	<div class="part3" style="width: 100%;">
		<div class="slide">
			<button class="diseaseIdent"><a href="">ফসলের রোগ নির্ণয় ও প্রতিকার</a></button>
			<button class="startProject"><a href="">নতুন প্রজেক্ট শুরু করুন</a></button>
		</div>
		<div class="slide">
			<button class="diseaseIdent"><a href="">ফসলের রোগ নির্ণয় ও প্রতিকার</a></button>
			<button class="startProject"><a href="">নতুন প্রজেক্ট শুরু করুন</a></button>
		</div>
		<div class="slide">
			<button class="diseaseIdent"><a href="">ফসলের রোগ নির্ণয় ও প্রতিকার</a></button>
			<button class="startProject"><a href="">নতুন প্রজেক্ট শুরু করুন</a></button>
		</div>
	</div>

	<div class="part4" style="width: 100%;">
		<div class="projects">আমার চলতি প্রজেক্টঃ</div>
		<div class="ui link cards">
		  <div class="card">
		    <h3>ইরি ধান</h3>
		    <h3>১০ শতক</h3>
		  </div>
		</div>
	</div>
</body>
</html>